<html>
<head>
<script type="text/javascript" src ="forms_tute.js"></script>
<link rel="stylesheet" type="text/css" href="myStyle.css">




<title id="formName">New Customer</title>

</head>

<body>
<div class="topnav">
<h2>Public Health Insurance!</h2>
</div>

<br>
<div class="topnav">
<form action="#" method="POST">
	<input type="submit" Value="Customer Registration" name="linkClicked"/>
	<input type="submit" Value="Change Password" name="linkClicked"/>
	<input type="submit" Value="Policy Registration" name="linkClicked"/>
	<input type="submit" Value="Update Policy" name="linkClicked"/>
	<input type="submit" Value="Claim Policy" name="linkClicked"/>
	<input type="submit" Value="Policy Plans" name="linkClicked"/>
	<input type="submit" Value="Edit Customer Details" name="linkClicked"/>
	<input type="submit" Value="Delete Customer" name="linkClicked"/>
	<input type="submit" Value="List Registered Customers" name="linkClicked"/>
	<input type="submit" Value="List Registered Policies" name="linkClicked"/>
</form>
</div>
<br>
<br>
<br>
<br>
<br>

<div align="center">
<h1>  <U>Customer Registration </U> </h2>

<form action="#" method="POST">
<table>
	<tr>
		<td>
			*Name
		</td>
		<td>
			<input type="text" placeholder="Name" id="userName" name="userName" />
		</td>
	</tr>
	<tr>
		<td>
			*Date Of Birth
		</td>
		<td>
			<input type="text" placeholder="DD-MM-YYYY" id="DOB" name="dateOfBirth" />
		</td>
	</tr>
	<tr>
		<td>
			Gender
		</td>
		<td style="color:black">
			<input type="radio"  id='gender' name="gender" value="M" onchange="male()"/>Male
			<input  type="radio"  id='gender' name="gender" value="F" onchange="female()"/>Female
		</td>
	</tr>
	<tr>
		<td>
			*Email
		</td>
		<td>
			<input type="text" id="email" placeholder="someone@example.com" name="email" />
		</td>
	</tr>
	<tr>
		<td>
			*Mobile No
		</td>
		<td>
			<input type="text" id="mobileNo" placeholder="9876543210" name="mobileNo" />
		</td>
	</tr>
	<tr>
		<td>
			Address
		</td>
		<td>		
			<textarea rows="3" cols="17" placeholder="Please Enter Your Comm. Address Here" name="address" ></textarea>		
		</td>
	</tr>	
</table>
	
	<br>
	<input type="submit" Value="Register" name="clicked"/>
	<input type="button" Value="Reset" name="clicked"/>

</form>
	
	<p style="color:red"> (*): Mandatory Fields </p>
	
	<br>
	<h3 style="color: black ; text-align:center;"><%=message%>  </h3>
	<%if(errors != undefined) { %>
	<ul>
		<p><u>Error Details:</u></p>
		<% errors.forEach(function(error) { %>
		<li>
			<%=error.msg %>
		</li>
		<% }) %>
	</ul>
<% } %>
<br>
<br><br>
<form action="#" method="POST">
	<!--<a style="color: black ; text-align:center" href="#"><b><u>Logout </u> : <%=whichUser%></b></a> -->
	<input type="submit" Value="Logout <%=whichUser%>" name="logout"/>
</form>
</div >

<br><br><br><br>
<marquee>Developed By Ashutosh...</marquee>

</body>

</html>





