<html>
<head>
<script type="text/javascript" src ="forms_tute.js"></script>
<link rel="stylesheet" type="text/css" href="myStyle.css">




<title id="formName">Plans</title>

</head>

<body>
<div class="topnav">
<h2>Public Health Insurance!</h2>
</div>

<br>

<div class="topnav">
<form action="#" method="POST">
	<input type="submit" Value="Customer Registration" name="linkClicked"/>
	<input type="submit" Value="Change Password" name="linkClicked"/>
	<input type="submit" Value="Policy Registration" name="linkClicked"/>
	<input type="submit" Value="Update Policy" name="linkClicked"/>
	<input type="submit" Value="Claim Policy" name="linkClicked"/>
	<input type="submit" Value="Policy Plans" name="linkClicked"/>
	<input type="submit" Value="Edit Customer Details" name="linkClicked"/>
	<input type="submit" Value="Delete Customer" name="linkClicked"/>
	<input type="submit" Value="List Registered Customers" name="linkClicked"/>
	<input type="submit" Value="List Registered Policies" name="linkClicked"/>
</form>
</div>
<br>
<br>
<br>
<br>
<br>

<div align="center">
<h1>  <U>Policy Plan Details </U> </h2>

<form action="#" method="POST">
<table>
	<tr>
		<td>
			<marquee>This Page is under Maintenance......</marquee>
		</td>
	</tr>
	
</table>
</form>
<br>
<br>
<br>
<br>
<br>
<form action="#" method="POST">
	<input type="submit" Value="Logout <%=whichUser%>" name="logout"/>
</form>


</body>

</html>





